.DS_store
*.session
localsettings.py
__pycache__
venv
*.zip
tg_profiles
telegram_data
data/
extensions/
tdatas/
log.log
*.log
logs/
logs2/
node_modules
*.db
*.sqbpro
launch.json
server_accs_filled.json
server_accs.json
proxies
settings_local.py
*.session-journal
pictures
*.csv
templates/*